*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.black {
  cursor: url(../public/images/mousePreto.png), auto;
}

.white {
  cursor: url(../public/images/mouseBranco.png), auto;
}


.teste {
  filter: drop-shadow(100%)
}

.borda {
  border: 0.125rem solid red;
}

.speak {
  border: 0.1rem solid orange;
  cursor: pointer;
  padding: 0.3rem;
  z-index: 1;
}
